<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PracticeServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.lifecycle.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDispatcherServlet1</display-name>
    <servlet-name>RequestDispatcherServlet1</servlet-name>
    <servlet-class>com.requestdispatcher.RequestDispatcherServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherServlet1</servlet-name>
    <url-pattern>/RequestDispatcherServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDispatcherServlet2</display-name>
    <servlet-name>RequestDispatcherServlet2</servlet-name>
    <servlet-class>com.requestdispatcher.RequestDispatcherServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherServlet2</servlet-name>
    <url-pattern>/RequestDispatcherServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applicant</display-name>
    <servlet-name>Applicant</servlet-name>
    <servlet-class>com.context.config.Applicant</servlet-class>
    <init-param>
      <param-name>Email</param-name>
      <param-value>applicant@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applicant</servlet-name>
    <url-pattern>/Applicant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recruiter</display-name>
    <servlet-name>Recruiter</servlet-name>
    <servlet-class>com.context.config.Recruiter</servlet-class>
    <init-param>
      <param-name>Email</param-name>
      <param-value>recruiter@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recruiter</servlet-name>
    <url-pattern>/Recruiter</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Website-name</param-name>
    <param-value>NewWebsite.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstAttributeServlet</display-name>
    <servlet-name>FirstAttributeServlet</servlet-name>
    <servlet-class>com.servlet.attributes.FirstAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAttributeServlet</servlet-name>
    <url-pattern>/FirstAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondAttributeServlet</display-name>
    <servlet-name>SecondAttributeServlet</servlet-name>
    <servlet-class>com.servlet.attributes.SecondAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondAttributeServlet</servlet-name>
    <url-pattern>/SecondAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletdoGetdoPostdoPut</display-name>
    <servlet-name>ServletdoGetdoPostdoPut</servlet-name>
    <servlet-class>com.httprequest.ServletdoGetdoPostdoPut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletdoGetdoPostdoPut</servlet-name>
    <url-pattern>/ServletdoGetdoPostdoPut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegisterServlet</display-name>
    <servlet-name>NewRegisterServlet</servlet-name>
    <servlet-class>com.db.servlet.NewRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegisterServlet</servlet-name>
    <url-pattern>/NewRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewLoginServlet</display-name>
    <servlet-name>NewLoginServlet</servlet-name>
    <servlet-class>com.db.servlet.NewLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewLoginServlet</servlet-name>
    <url-pattern>/NewLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.db.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUsers</display-name>
    <servlet-name>ViewUsers</servlet-name>
    <servlet-class>com.db.servlet.ViewUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsers</servlet-name>
    <url-pattern>/ViewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionServlet1</display-name>
    <servlet-name>HttpSessionServlet1</servlet-name>
    <servlet-class>com.session.HttpSessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet1</servlet-name>
    <url-pattern>/HttpSessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.db.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.filter.demo.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.filter.demo.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyFilter</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.listener.MyContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletContextListener</display-name>
    <servlet-name>ServletContextListener</servlet-name>
    <servlet-class>com.listener.ServletContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextListener</servlet-name>
    <url-pattern>/ServletContextListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.listener.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.ExampleAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.listener.SessionCounterListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.listener.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.AttributeHttpSessionListener</listener-class>
  </listener>
</web-app>